{{#if user}}
{{!-- If statement lets us add a user in real-time. --}}
<div class="mm-panel">
    <div class="mm-body">
        <h3 class="mm-heading">{{user.username}}</h3>
    </div>
    <div class="mm-content">
        <p>{{user.first_name}}</p>
        <p>{{user.last_name}}</p>
        <div class="mm-button1">
            {{#bs-button type="primary" icon="glyphicon glyphicon-plus" action="addFriend" value=user._id }}
                Add friend
            {{/bs-button}}
        </div>
    </div>
</div>
{{/if}}
