<div class="mm-panel">
    <div class="mm-heading">
        <h3 class="mm-heading" >{{group.name}}</h3>
        <div style="float:right">
            <div> {{#link-to 'groups.recommendations' group.name}} <button type="button" class="glyphicon glyphicon-film"> Movie Match </button> {{/link-to}}</div>
        </div>
    </div>
    <div class="mm-content">
        <p>
            {{#each group.members as |member|}}
                <p>{{member.first_name}} {{member.last_name}}</p>
            {{/each}}
        </p>
    </div>
    <div> {{#link-to 'groups.add_user' group.name}} <button type="button" class="glyphicon glyphicon-plus" style="margin-bottom:1em;"> Add User </button> {{/link-to}}</div>
</div>

