{{#if user}}
{{!-- If statement lets us delete a friend in real-time. --}}
<div class="mm-panel">
    <div class="mm-body">
        <h3 class="mm-heading">{{user.username}}</h3>
    </div>
    <div class="mm-content">
        <p>{{user.first_name}}</p>
        <p>{{user.last_name}}</p>
        <div class="mm-button1">
            <button class="button-danger" {{action 'deleteFriend' user._id}}>
                <span class="glyphicon glyphicon-minus"></span>
                Delete Friend
            </button>
        </div>
    </div>
</div>
{{/if}}
