input[type='text'], input[type='password'] {
	background-color: #222;
	color: white;
	border-color: #444;
	font-size: 1.5em;
	padding: 0 1em;
	height: 2em;
}

button {
	font-size: 1em;
	border-radius: 0.25em;
	border: 2px solid #444;
	background-color: #222;
	color: white;
	padding: 0.25em 0.5em;

	&.button-danger {
		color: #F44;
	}
}

form {
	> :first-child input {
		border-top-left-radius: 0.25em;
		border-top-right-radius: 0.25em;
	}

	> :last-child input {
		border-bottom-left-radius: 0.25em;
		border-bottom-right-radius: 0.25em;
	}

	> .input-group {
		&:not(:first-child) {
			span {
				border-top-left-radius: 0;
			}

			input {
				border-top: none;
				border-top-right-radius: 0;
			}
		}

		&:not(:last-child) {
			span {
				border-bottom-left-radius: 0;
			}

			input {
				border-bottom-right-radius: 0;
			}
		}
	}

	> .form-group {
		&:not(:first-child) input {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}
}