.mm-panel {
	max-height: 20em;
	border-bottom: 1px solid #444;

	.mm-heading {
	}

	.mm-poster {
		align-self: flex-end;
		width: 100%;
		max-width: 10em;
		max-height: 100%;
	}

	.mm-content {
		flex-grow: 1;
	}

	.mm-body {
		display: flex;
		flex-direction: row;
		margin: 2em 0;
	}

	.mm-button1 {
		margin-bottom: 1em;
	}

	.mm-button2 {
		margin-top: 1em;
	}

	.star-rating {
		cursor: pointer;

		&.user-rating a {
			color: #d7b936;

			&:hover {
				color: lighten(#d7b936, 30%);
			}
		}

		&.imdb-rating a {
			color: #337ab7;

			&:hover {
				color: lighten(#337ab7, 30%);
			}
		}
	}
}
