{{title "Movies"}}

Welcome to the single movie screen

{{!--
<form {{action 'search' on='submit' query=query}}>
    {{input type='text' value=query class="form-control" placeholder="Search movies"}}
</form>

{{#each model as |movie|}}
    {{movie-info movie = movie}}
{{/each}}
--}}
