{{title "Friends"}}

<form {{action 'search' on='submit' query=model.search}}>
    {{input type='text' value=model.search class="form-control" placeholder="Search for friends"}}
</form>

{{#each model.data as |user|}}
    {{user-info user = user}}
{{/each}}
