{{title "Friends"}}

<form {{action 'search' on='submit' query=model.search}}>
    {{input type='text' value=model.search class="form-control" placeholder="Search for friends"}}
</form>

<br>
{{#each model.data as |user|}}
    {{add-user user = user}}
{{/each}}


