{{title "Groups"}}
<div>
	{{#link-to 'groups.create'}}
		<button type="button">
			<span class="glyphicon glyphicon-plus"></span>
			Add Group
		</button>
	{{/link-to}}
</div>

{{#each model.data as |group|}}
    {{group-info group = group}}
{{/each}}
