<head>
    <meta charset="UTF-8">
    <title>Movie Matcher | Groups</title>
</head>
<div class="row">
    <div class="container-fluid">
        <div class="col-md-7">
            <h5>This is the groups page!</h5>
        </div>
    </div>
</div>

{{outlet}}
