<head>
    <meta charset="UTF-8">
    <title>Movie Matcher | Movies</title>
</head>

<div class="row">
	<div class="container-fluid">
		<div class="col-md-7">
			<h5>This is the movies page!</h5>
			{{movie-info movie = model}}
		</div>
	</div>
</div>

{{outlet}}
